<div class="divForEachbookSection">
  <div>
    <img src="<%= bookViewDetailes.img %>" />
    <h2>
      <%= bookViewDetailes.title %>
    </h2>
    <h3>
      <%= bookViewDetailes.author %>
    </h3>
    <p>
      <%= bookViewDetailes.description %>
    </p>
    <p>
      <%= bookViewDetailes.isbn %>
    </p>
  </div>
</div>