<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Books</title>
  <link rel="stylesheet" href="styles/layout.css">
</head>

<body>
  <%- include('../layouts/header') %>

    <!-- <header>
    <h1>Best Books!</h1>
    <div class="links">
      <span class="icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/new">Search</a></li>
      </ul>
    </div>
  </header> -->
    <div>
      <h2>Search Results</h2>
    </div>
    <main class="container">
      <div class="divForEachbookSection">

        <% booKDataArray.forEach((book,index)=>{ %>

          <section>
            <img src="<%=book.img %>">
          </section>
          <h2>
            <%=book.title %>
          </h2>
          <h4>
            <%=book.author%>
          </h4>
          <p>
            <%=book.description %>
          </p>
          <h3>
            <%=book.isbn %>
          </h3>

          <form action="/books" method="POST">
            <input type="hidden" name="img" value=<%=book.img%>>
            <input type="hidden" name="title" value=<%=book.title%>>
            <input type="hidden" name="author" value=<%=book.author%>>
            <input type="hidden" name="description" value=<%=book.description%></input>
            <input type="hidden" name="isbn" value=<%=book.id%>>

            <button type="submit">Add book</button>
          </form>
          <% }) %>
      </div>
    </main>
    <footer>

    </footer>

</body>

</html>